:root {
  --var-fg: #f1f1f1;
}

body {
  background: #151516;
  color: var(--var-fg);
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
}

svg {
  fill: var(--var-fg);
}

.fc {
  display: flex;
  flex-direction: column;
}

.rg3 {
  row-gap: 2rem;
}

.fr {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.w100 {
  width: 100%;
}

.fsb {
  justify-content: space-between;
}

.px3 {
  padding-left: 3rem;
  padding-right: 3rem;
}

.py10 {
  padding-top: 10rem;
  padding-bottom: 10rem;
}

@media (max-width: 600px) {
  .px3 {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .py10 {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}

.mw40 {
  max-width: 40rem;
}

h1 {
  font-size: 2.5rem;
  margin: 0;
}

.text {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 150%;
  margin: 0;
  text-align: justify;
}

a {
  text-decoration: underline dotted;
  text-underline-offset: 2px;
  color: rgb(106, 147, 184);

  &:hover {
    color: rgb(106, 124, 141);
  }
}

.cg2 {
  column-gap: 1.5rem;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
}

@media (max-width: 600px) {
  .links {
    flex-direction: column;
  }
}
